<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading events-panel-heading">
            <button class="btn btn-default pull-right add-events-btn" ng-click="addEvent()">Add Event</button><span class="events-panel-title">Events Management</span>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item pointer" ng-repeat="evt in events">
                    <span class="pull-right">
                        <a ng-click="updateEvent(evt, $index)"><span class="glyphicon glyphicon-pencil"></span>
                        </a>
                        <a ng-click="removeEvent(evt, $index)" class="trash"><span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </span>{{evt.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
